body {
    background-color: #4C4C4C;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #000;
    margin-top: -300px;
    margin-left: -300px;
    border: 5px solid #000;
}